<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="hieunt_tdEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=103.74.117.230;user id=hieunt_td;password=Cmu#2015;persistsecurityinfo=True;database=hieunt_td;Charset=utf8&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ref_interval" value="30"/>
  </appSettings>
</configuration>